/**** Mobile First ****/
#menuPrincipal {
	border-radius: 0em 0em 0.5em 0.5em;
	z-index: 999;
	border: none;
	background-color: #54BE62;	
	box-shadow: 0em -0.4em 0.2em 0.2em #26B26A inset;
}
body {
	box-shadow: 0em 0em 10em 0.1em #26B26A inset;
	background-color: #F7F7F7;
}
#cabecalho {
	height: 8em;
	border: 0.1em solid #e7e7e7;
	border: none;
	box-shadow: 0em 0.5em 0.4em 0.1em #26B26A inset;
	background-color: #54BE62;
}

#menuPrincipal a {
	color: #F7F7F7;
}
#menuPrincipal li a:hover {
    border-radius: 0.5em;
	box-shadow: 0em 0em 0.8em 0.1em #2A3736 inset;
}

.fixar {
	width: 100%;
	position:fixed;
	margin-top: -8em !important;
}

#rodape { 
	height: 8em;
	padding: 1em;
	border-radius: 0.5em 0.5em 0em 0em;
	border: 0.1em solid #e7e7e7;
	border: none;
	box-shadow: 0em 0.5em 0.2em 0.2em #26B26A inset;
	background-color: #54BE62;
}

*{
	font-family: "NotoSans", sans-serif;
}
span, p{ 
	font-family: "NotoSerif", serif;
	font-size: 1em;	
}

h1, h3, a{
	font-family: "NotoSans-B", sans-serif;
}
/* Títulos */
h1{
	font-size: 1.8em;
}
/* Subtítulos */
h3{
	font-size: 1.3em;
}

/**** Desktop ****/
@media screen and (min-width: 800px) { 
	#menuPrincipal {
		border-radius: 0em 0em 2em 2em;
	}
	#menuPrincipal li a:hover {
		border-radius: 1em;
	}
	#rodape {
		border-radius: 2em 2em 0em 0em;
	}
}

.quadro-conteudo {
	background-color: #F7F7F7;
	border: solid lightgray 1px;
	border-radius: 1em;
	margin: 1em;
	padding: 1em;
}

.quadro-elementos {
	border: solid lightgray 1px;
	border-radius: 1em;
	margin: 0.5em;
	padding: 0.5em 1em;
}

.modal {
	z-index: 99999;
}

.cabecalho-personalizado-modal {
	background-color: black;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 0.3em;
}

.cabecalho-personalizado-modal .fa {
	color: white;
	font-weight: bold;
}

.cabecalho-personalizado-modal h3 {
	margin: 0em;
	padding: 0em;
}

/**** Fontes ****/

@font-face {
	font-family: "NotoSerif";
	src: url("../fonts/NotoSerif-Regular.ttf");
}
@font-face {
	font-family: "NotoSerif-B";
	src: url("../fonts/NotoSerif-Bold.ttf");
}
@font-face {
	font-family: "NotoSerif-I";
	src: url("../fonts/NotoSerif-Italic.ttf");
}

@font-face {
	font-family: "NotoSans";
	src: url("../fonts/NotoSans-Regular.ttf");
}
@font-face {
	font-family: "NotoSans-B";
	src: url("../fonts/NotoSans-Bold.ttf");
}
@font-face {
	font-family: "NotoSans-I";
	src: url("../fonts/NotoSans-Italic.ttf");
}