.page{
    margin: 1em auto;
    padding: 1em;
}

header{
    height: 8em;
    border: 0.2em solid green;
    border-bottom: none;
}

.mainmenu{
    border: 0.2em solid green;
    border-radius: 0em 0em 2em 2em; 
    background-color: green;
/* deletar depois */
.mainmenu ul{
    list-style-type: none;
}

.mainmenu li{
    display: inline-block;
}

.mainmenu li a {
    color: white;
    text-align: center;
    padding: 1em 1.5em;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(0, 255, 20, 0.3 );
    border-radius: 0.7em 0.7em 0em 0em;
}

.mainbody{
    margin: 1em 1.5em;
    height: 20em;
    border: 0.2em solid green;
    border-radius: 1em 1em 1em 1em; 
    
}

footer{
    height: 8em;
    border: 0.2em solid green;
    border-radius: 2em 2em 0em 0em; 
    background-color: green;
}